<html>
<head>
    <title>Pagina</title>
</head>
<body>
    <p>
        Hola buenas, son las @DateTime.Now.ToShortTimeString() <br />
        @if (DateTime.Now.Hour >= 12)
        {
            <span>Hemos pasado del mediodia</span>
        }else {
            <span>No hemos pasado del mediodia</span>
        }
    </p>
</body>
</html>
