<html>
<head>
    <title>Pagina</title>
</head>
<body>
    <p>
        Hola buenas, son las @DateTime.Now <br/>
        @if(DateTime.Now > )
            {
            //Hemos pasado del mediodia
            }
    </p>
</body>
</html>
