<table>
    <tr>
        <td>Juanito</td>
        <td>Pepe</td>
        <td>Ernesto</td>
    </tr>
    <tr>
        <td>Patozo</td>
        <td>Epep</td>
        <td>Sanchez</td>
    </tr>
    <ul>
        <li>Juanito Martinez</li>
        <li>Pepe Epep</li>
        <li>Ernesto Sanchez</li>
    </ul>
    <!--routerlink para enlace
        click para boton con metodo this.router.navigateByUrl('ruta a la que se desea ir')
        por defecto en el app routing poner " " y redirect to tabla -->
</table>
