<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        @model Ejercicio1.Models.clsPersona 
        <p>
            <div>@ViewData["saludo"]</div>
            <div>@ViewBag.Fecha</div>
            <div>@Model.Nombre, @Model.Apellidos</div>
        </p>
    </body>
</html>
