<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        <p>
            @for(int i = 0; i < 11; i++)
            {
                for (int j = 0; j < 11; j++)
                {
                    @i<span> x </span>@j<span> =  </span>@(i*j);
                }
            }
        </p>
    </body>
</html>

