<html>
<head>
    <title>Index</title>
</head>
<body>
    <table border="1">
        @for (int i = 0; i < 11; i++)
        {
        <tr>
            @for (int j = 0; j < 11; j++)
            {
            <td>
                @i
                <span>x</span>
                @j
                <span>=</span>
                @(i*j)
            </td>
           
            }
        </tr>
        }
    </table>
</body>
</html>
