@{
    ViewData["Title"] = "Home Page";
}

@model BonusTrack_UI.Models.IndexVMcs

<div class="text-center">
    <form method="post">
        <select name="slcPlantas" id="select">
            @foreach (String nombre in Model.ListadoNombres)
            {
                <option value="@nombre">@nombre</option>
            }
        </select>
        <input type="submit"/>
    </form>
    <br/>
    <h1>@Model.Planta.Nombre</h1>
    <p>@Model.Planta.Descripcion</p>
</div>
