<html>
<head>
    <title>ListadoPersonas</title>
</head>
<body>
    @model List<Ejercicio2.Models.clsPersona>
    <p>
        <table border="1" cellpadding="10">
            <tr>
                <td>Nombre</td>
                <td>Apellidos</td>
            </tr>
            @foreach(var alumno in Model)
            {
            <tr>
                <td>@alumno.Nombre</td>
                <td>@alumno.Apellidos</td>
            </tr>
            }
        </table>
    </p>
</body>
</html>
