
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListaProductos</title>
</head>
<body>
    @Html.ActionLink("Ir a página principal", "Index", "Home")
    <ul>
        <li>Hola</li>
        <li>Eso tu</li>
        <li>Pedro tonto</li>
    </ul>
</body>
</html>
